<div class="container py-5" style="max-width: 420px;">
  <h3 class="fw-bold mb-3">Iniciar Sesión</h3>

  <div *ngIf="error" class="alert alert-danger py-2">{{ error }}</div>

  <label class="form-label">Email</label>
  <input class="form-control mb-2" [(ngModel)]="email" placeholder="correo@ejemplo.com">

  <label class="form-label">Password</label>
  <input class="form-control mb-3" type="password" [(ngModel)]="password" placeholder="••••••••">

  <button class="btn btn-dark w-100" (click)="ingresar()" [disabled]="loading">
    {{ loading ? 'Ingresando...' : 'Entrar' }}
  </button>
</div>